* {
	margin: 0;
}
html, body {
	height: 100%;
	font-family: arial;
	background-image:url('/images/bkg.png');
	background-repeat:repeat;
}

a.link {
	color: #4E9B06;
	text-decoration:none;
}

a.link:hover {
	text-decoration:underline;
}

#header {
	margin: 0 auto;
	height: 145px;
	width:100%;
	background-color: #000;
	padding-top: 20px;
	border-bottom: 4px solid grey;
	text-align: center;

}
#header-stuff {
	width: 980px;
	margin: 0 auto;
	position: relative;
}

#header p {
	float: right;
	margin-right: 280px;
    margin-top: -45px;
}

h1, h2 {
	text-align: left;
}

h1 {
	font-size: 5em;
	color: #4E9B06;
	font-family: "ff-prater-block-web-1","ff-prater-block-web-2";
}
h1 a {
	text-decoration:none;
	color: green;
}

h2 {
	font-family: "atrament-web-1","atrament-web-2";
	font-style: italic;
	color: #fff;
	margin-left: 10px;
    margin-top: -12px;
}

.strong {
	font-style: bold;
}
.welcome {
	color: #fff;
	float:right;
	font-size: 12px;
}

#container {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto;
	overflow: hidden;
	width: 980px;
	padding-top: 50px;
	text-align:center;
	position: relative;
}
#container {
	height: 100%;
}

li {
	text-align: left;
	list-style:none;
}

p a, .explain-text a, li a {
	color: green;
	text-decoration:none;
	font-style:bold;
}

.artist-list {
	display:block;
	text-align:center;
	
}
.artist-list li {
	display:inline;
	width:100px;
	height:100px;
}

.artist-list img {
	margin-right: 10px;
	margin-bottom: 10px;
	border: 8px solid #4E9B06;
}

.artist-list img:hover {
	border-color: #5DA006;
}
.button, .spinner {
	margin-top:100px;
	width:100%;
	text-align:center;
}

.errors {
	text-align:center;
	background-color: #4E9B06;
    border: 1px solid #466A98;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 12px;
}
.letsgo, .bigbutton{
	font-family: "ff-prater-block-web-1","ff-prater-block-web-2";
    background-image: -moz-linear-gradient(center top , #4E9B06, #5DA006) repeat scroll 0 0 transparent;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.03, rgb(9,179,18)),
	    color-stop(0.52, rgb(29,156,61))
	);
	background-color: #4E9B06;
    border: 1px solid #466A98;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bold;
    padding: 10px 20px 12px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #003366;
}

.bigbutton a:hover {
	text-decoration:none;
}
.reload, .play, .stop, .next, .back {
	font-family: "ff-prater-block-web-1","ff-prater-block-web-2";
    background-color: -moz-linear-gradient(center top , #4E9B06, #5DA006) repeat scroll 0 0 transparent;
	background-color: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.03, rgb(9,179,18)),
	    color-stop(0.52, rgb(29,156,61))
	);
	background-color: #4E9B06;
    border: 1px solid #466A98;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 10px 4px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #003366;
}

.next, .back, .stop {
	display:none;
}
.stop {
	background-color: red;
}
.nav {
	display:none;
	margin-bottom:60px;
}

.buttons {
	float:right;
}

.nowplaying {
	display:none;
	background-color: #4E9B06;
    border: 1px solid #466A98;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
	font-size: 12px;
	float:left;
	padding: 14px 10px 11px;
}

#returned-artists {
	margin-bottom: 20px;
	text-align: center;
}
#returned-info {
	display:none;
	/*font-family: "ff-prater-block-web-1","ff-prater-block-web-2";*/
    background-color: -moz-linear-gradient(center top , #4E9B06, #5DA006) repeat scroll 0 0 transparent;
	background-color: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.03, rgb(9,179,18)),
	    color-stop(0.52, rgb(29,156,61))
	);
	background-color: #4E9B06;
    border: 1px solid #466A98;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 25px;
    padding: 12px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #003366;
	text-align: left;
}

#about {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #4E9B06;
	font-size: 12px;
	height: 30px;
	bottom:0;
	width: 100%;
	position: absolute;
}

#about a {
	color: #4E9B06;
}

#createdby {
	float:left;
}

#logos {
	float:right;
}