<div class="nav">
	<div class="buttons">
	<a href="#" class="reload">Reload?</a>
	<a href="#" class="play">Play audio</a>
	<a href="#" class="next">Fwd ></a>
	<a href="#" class="back">< Rew</a>
	<a href="#" class="stop">Stop</a>
	</div>
	<span class="nowplaying"></span>
</div>
<div class="button">
	<a href="#" class="letsgo">Start analysis!</a>
</div>
<div class="spinner">
	<img src="/images/ajax-loader.gif" width="500" height="30px" border="0"/>
</div>
<div id="returned-artists">
	<ul class="artist-list">
		
	</ul>
</div>
<div id="returned-info">
	<div class="name"><span class="titlespan">Who?</span></div>
	<div class="image"></div>
	<div class="audio"><span class="titlespan">Audio:</span></div>
	<div class="links"><span class="titlespan">Links:</span><ul class="listoflinks"></ul></div>	
</div>
