<div class="button">
	<a href="#" class="letsgo">Click here to find out</a>
</div>
<div class="spinner">
	<img src="/images/ajax-loader.gif" border="0"/>
</div>
<div id="returned-artists">
	<ul class="artist-list">
		
	</ul>
	<ul class="output-list">
		
	</ul>
</div>
